<form  [formGroup]="form" (ngSubmit)="guardarTipo ()"> 
    <!--  -->
    <div class="form-group">
        <div class="input-group">
            <h6>Editar Material</h6>
        </div>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="nameMaterial" placeholder="Material" maxlength="80">
        </div>
        <div class="input-group">
            <textarea class="form-control" formControlName="description" placeholder="Descripcion" maxlength="80"></textarea>
        </div>
        <div class="input-group">
            <select  class="form-select" aria-label="Default select" formArrayName="idMtype" (change)="onChangeDrop( $event )">
                <option [ngValue]= null enabled = false>Seleccione un tipo</option>
                <option *ngFor="let tipomaterial of this.tipomaterialservice.listadoTipos" [value]="tipomaterial.idMtype" [ngValue]="tipomaterial.idMtype"
                    [selected] = "tipomaterial.idMtype === this.idTipoSelected">
                    {{ tipomaterial.nameMtype }}
                </option>
            </select>
        </div>
        <div class="input-group">
            <select  class="form-select" aria-label="Default select" formArrayName="idSymmetry" (change)="onChangeDropSimetria( $event )">
                <option [ngValue]= null enabled = false>Seleccione un Simetria</option>
                <option *ngFor="let tiposimetria of this.tiposimetriaservice.simmetryList" [value]="tiposimetria.idSymmetry" [ngValue]="tiposimetria.idSymmetry"
                    [selected] = "tiposimetria.idSymmetry === this.idSymSelected">
                    {{ tiposimetria.symmetryName }}
                </option>
            </select>
        </div>
        <!-- <div class="input-group">
            <input type="text" class="form-control" formControlName="angle" placeholder="Angulo" maxlength="80">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="cellGeometry" placeholder="Geometria" maxlength="80">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="sheerGeometry" placeholder="Sheer Geometria" maxlength="80">
        </div>
        <div class="input-group">
            <input type="text" class="form-control" formControlName="materialDiscriminator" placeholder="Discriminador" maxlength="80">
        </div> -->
    </div>
    
    <hr>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block"  type="submit" [disabled]="form.invalid"><i class="fas fa-database"></i>  Aceptar</button>
        <!-- [disabled]="form.invalid" -->
    </div>
  </form>
  
