<nav class="navbar fixed-bottom navbar-light bg-light">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#">Barra Inferior</a>-->
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-primary me-3">
          Diseño Directo
        </button>
        <button type="button" class="btn btn-primary me-3">
            Diseño Inverso
        </button>
        <button type="button" class="btn btn-primary me-3">
            HMA
        </button>
      </div>
    </div>
  </nav>
