.highlighted{
  background-color: lightgray;
}


.imagefibra {
  width: 300px;
  height: 300px;
}

h5 {
  font-weight: bold;
}

.iconcolorred {
  color: red;
}

.iconcolorblue {
  color: red;
}

.cuadrotexto{
  width: 100px;
}
