<p>Agregar o Modificar indice de Coeficientes</p>
 <form [formGroup]="form" (ngSubmit)="guardarTipo ()" >
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" formControlName="indexNumber" placeholder="Tipo" maxlength="80">
        </div>
    </div>
    <hr>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i>  Aceptar</button>
    </div>
</form>
